<!DOCTYPE html>
<html>
  <head>
    <title>Random Movies</title>
    <%= csrf_meta_tags %>

		<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
    	body{
    		text-align:center;
    		color:#444;
    		font-size:250%;
    		font-family: 'Vollkorn', serif;
    	}
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
